<main>
  <h1>Ajout d'un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input formControlName="name" type="text" />
    </label>
    <label>
      <div>Prix</div>
      <input formControlName="price" type="number" step="0.01" min="0" />
    </label>
    <label>
      <div>Quantité</div>
      <input formControlName="qty" type="number" step="1" min="0" />
    </label>
    <button class="primary">Ajouter</button>
  </form>

  <!--{{ f.value | json }}-->
</main>
