<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id accusamus
    quidem laboriosam beatae itaque consequuntur error, in excepturi iste ullam
    officiis consequatur? Impedit mollitia quia veritatis error accusamus
    officia maiores!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
    architecto obcaecati voluptatibus assumenda mollitia nam, necessitatibus
    ipsa corrupti praesentium est dolorum odit! Quisquam sint amet quam libero,
    eveniet magnam! Debitis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem soluta quae
    laboriosam error nobis sequi nihil, ad rerum nostrum quas, blanditiis
    consequuntur consequatur aliquid. Dicta dolores temporibus atque et
    pariatur!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id accusamus
    quidem laboriosam beatae itaque consequuntur error, in excepturi iste ullam
    officiis consequatur? Impedit mollitia quia veritatis error accusamus
    officia maiores!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
    architecto obcaecati voluptatibus assumenda mollitia nam, necessitatibus
    ipsa corrupti praesentium est dolorum odit! Quisquam sint amet quam libero,
    eveniet magnam! Debitis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem soluta quae
    laboriosam error nobis sequi nihil, ad rerum nostrum quas, blanditiis
    consequuntur consequatur aliquid. Dicta dolores temporibus atque et
    pariatur!
  </p>
</main>
